<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "no.appfabrikken.blixt"
        version   = "1.0.3">

    <name>BLIXT</name>

    <description>
        BLIXT javascript version
    </description>

    <author href="http://sondresallaup.com" email="support@sondresallaup.com">
        Den lille app-fabrikken
    </author>
    <icon src="img/icon.png" />
    
    <preference name="android-targetSdkVersion" value="12" />
    <preference name="orientation" value="portrait" />

    <preference name="phonegap-version" value="3.3.0" /> 
    <preference name="fullscreen" value="false" />

    <gap:plugin name="org.apache.cordova.core.camera" />
    
    
    <feature name="http://api.phonegap.com/1.0/camera"/>

    <gap:splash src="img/splash.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/splash.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/splash.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/splash.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="img/splash.png" gap:platform="android" gap:density="xxhdpi" />
</widget>
